body{
  margin: 0;
  padding: 0;
}

.app {
    background-color: var(--white-color);
    font-family: var(--font-base);
    padding: 0;
    margin: 0;
    width: 100vw;

    @media screen and (min-width: 2000px) {
      width: 90vw;
    }

}
  
  
  .app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }